<section class="bg-white rounded-lg px-5 py-5 space-y-4" data-name="section">
  <input
    type="text"
    name="name"
    id=""
    class="focus:border-accent focus:outline-0 text-xl w-3/4 font-medium"
    placeholder="Section Title (Optional)"
    value="(Untitled Section)"
  />
  <br />
  <input
    type="text"
    name="description"
    id=""
    class="focus:border-accent focus:outline-0 w-full border-b"
    placeholder="Description (Optional)"
    value="(Untitled Description)"
  />
</section>
